<form>
  <div class="form-group">
    <label for="exampleFormControlSelect1">A quien vende</label>
    <select class="form-control" id="exampleFormControlSelect1" (change)="capturarClienteFinal($event.target.value)">
      <option value="tienda">Tienda</option>
      <option value="familia">Familia</option>
      <option value="amigos">Amigos</option>
      <option value="otros">Otros</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Distrito</label>
    <select class="form-control" id="exampleFormControlSelect1" (change)="capturarDistrito($event.target.value)" >
      <option>Lima</option>
      <option>Callao</option>
      <option>Breña</option>
      <option>Cercado de Lima</option>
      <option>Santa Anita</option>
    </select>
  </div>
  
  <div class="form-group row">
    <div class="col-md-3 col-lg-3">
        <label for="exampleFormControlSelect1">Productos</label>
        <select class="form-control" id="exampleFormControlSelect1" (change)="capturarProducto($event.target.value)">
          <option>Aceite 500 ml</option>
          <option>Detergente 350 gr</option>
          <option>Tallarín Lavaggi 500gr</option>
          <option>Trozos de Atún Primor 170gr</option>
          <option>Jabón Bolívar con Perlas de Blancura Floral 210gr</option>
        </select>
  </div>
      
    <div class="mount col-md-3 col-lg-3">
      <label for="" class="text-summary">Cantidad</label><br>
      <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="cantidad" name="cantidadVendida" [(ngModel)]="cantidadVendida">
      </div>

  <div class="col-md-3 col-lg-3">
    <label for="exampleFormControlInput1">Precio Sugerido</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="precio" name="precioSugerido" [(ngModel)]="precioSugerido">
  </div>

  <div class="col-md-3 col-lg-3">
    <label for="exampleFormControlInput1">Stock</label>
    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="stock" name="stock" [(ngModel)]="stock">
  </div>
  </div>
  <button type="button" class="btn btn-primary btn-lg btn-block" (click)="addSale()">Registrar Venta</button>

</form>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">PRODUCTO</th>
      <th scope="col">CANTIDAD</th>
      <th scope="col">PRECIO SUGERIDO</th>
      <th scope="col">STOCK</th>
      <th scope="col">DISTRITO</th>
    </tr>
  </thead>
  <tbody *ngFor= "let listProduct of dataObjectProducts ; let indice=index" >
      <tr>
        <th scope="row">{{indice+1}}</th>
        <td scope="col">{{listProduct.productovendido}}</td>
        <td scope="col">{{listProduct.cantidad}}</td>
        <td scope="col">{{listProduct.preciosugerido}}</td>  
        <td scope="col" >{{listProduct.stock}}</td>
        <td scope="col" >{{listProduct.distrito}}</td>
        <td scope="col"><button (click)="deleteSaleProduct(listProduct.productovendido)">x</button></td>
      </tr>

      <!-- <td>Total de pedido: {{obtenerTotal()}}</td> -->
    </tbody>
</table>
<button type="button" class="btn btn-primary btn-lg btn-block" (click)="sendDataSale()">Guardar Venta Total</button>

