
.color-naranja{
 color:  #f59b00;
}

.color-verde{
    color:#6EB22E
}

.font-weight{
    font-weight: 700
}

.bg-gris{
    background-color: #EDE9E9
}

.btn-secondary{
    background-color:#595858
}

.width{
  width: 30px;
}

.hover-btn:hover{
    background-color: #B40312
}


.tamaño-img{
padding: 12px;
}

.altura-gris-producto{
  height: 15rem;
}
.tamano-letra-precio{
  font-size: 20px;
}

.tamano-letra-producto{
  font-size: 15px;
  font-weight: 800;
}
 .margin-top{
  padding: 12px
 }

.tamano-div-producto{
  height: 50px;
}

.tamano-de-boton{
 height: 50px;
}

.tamano-letra-btn{
  font-size: 10px;
  font-weight: 800;
}

.grupo-de-btn{
  text-align: center;
}

.borde-de-btn{
  border-radius: 0px;
}

.btn-lg, .btn{
  border-radius: 0px
}



