

<div *ngFor="let product of products" class="row"> 
  <div class="col-md-4">
    <figure class="card card-product">
      <div class="img-wrap"><img src="{{product.data.img}}"></div>
      <figcaption class="info-wrap">
          <h4 class="title">{{product.data.nombre}} ({{product.data.unidades}} unidades)</h4> 
          <p class="desc">Some small description goes here</p>
          <!-- <div class="rating-wrap">
            <ul class="rating-stars">
              <li style="width:80%" class="stars-active"> 
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 
              </li>
            </ul>
            <div class="label-rating">132 reviews</div>
            <div class="label-rating">154 orders </div>
          </div> --> <!-- rating-wrap.// -->
      </figcaption>
      <div class="bottom-wrap">
        <a (click)="addProduct(product)" class="btn btn-sm btn-primary float-right">Order Now</a>	
        <div class="price-wrap h5">
          <p class="price-new"> Precio Alicorp: {{product.data.precMay | currency:'S/ '}}</p>
          <p class="price-new"> Precio sugerido venta: {{product.data.precSug | currency:'S/ '}}</p>
          <p class="price-old">Ganancia: {{product.data.ganancia | currency:'S/ '}}</p>
        </div> <!-- price-wrap.// -->
      </div> <!-- bottom-wrap.// -->
      <div nclass="bottom-wrap">
        <button (click)="addQuantity(product.data)">+</button>
        <span>{{quantity}}</span>
        <button (click)="reduceQuantity(product.data)">-</button>
      </div> <!-- bottom-wrap.// -->
    </figure>
  </div> <!-- col // -->
  </div> <!-- row.// -->
  