

<div *ngFor="let product of products" class="row"> 
  <div class="col-md-4">
    <figure class="card card-product">
      <div class="img-wrap"><img src="{{product.data.img}}"></div>
      <figcaption class="info-wrap">
          <p class="price-new"> {{product.data.precMay | currency:'S/ '}} cja.</p>

          <h4 class="title">{{product.data.nombre}}</h4> 
          <p class="desc">{{product.data.marca}} </p>
          <span class="desc">x {{product.data.unidades}} </span>
          <span class="desc">{{product.data.presentacion}} </span>


          <!-- <div class="rating-wrap">
            <ul class="rating-stars">
              <li style="width:80%" class="stars-active"> 
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
              </li>
              <li>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 
              </li>
            </ul>
            <div class="label-rating">132 reviews</div>
            <div class="label-rating">154 orders </div>
          </div> --> <!-- rating-wrap.// -->
      </figcaption>
      <div class="bottom-wrap">
        <a (click)="addProduct(product, products.indexOf(product))" class="btn btn-sm btn-primary float-right">AGREGAR AL CARRITO</a>	
        <div class="price-wrap h5">
        </div> <!-- price-wrap.// -->
      </div> <!-- bottom-wrap.// -->
      <div nclass="bottom-wrap">
        <button (click)="addQuantity(products.indexOf(product))">+</button>
        <span>{{quantity[products.indexOf(product)]}}</span>
        <button (click)="reduceQuantity(products.indexOf(product))">-</button>
      </div> <!-- bottom-wrap.// -->
    </figure>
  </div> <!-- col // -->
  </div> <!-- row.// -->
  